.about {
  padding-top: 80px;
  padding-bottom: 100px;

  @include phones {
    padding: 42px 0;
  }
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.about__photo {
  width: 300px;
  margin-right: 120px;

  @include tablets {
    margin-right: 0;
  }

  @include phones {
    width: 86.67%;
  }
}

.about__content {
  width: 430px;

  @include tablets {
    order: -1;
    margin-bottom: 80px;
  }

  @include phones {
    width: 90%;
    margin-bottom: 42px;
  }
}

.about__text {
  margin-bottom: 25px;

  @include phones {
    margin-bottom: 22px;
    text-align: justify;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__img {
  margin: 0 auto;
}