.donate {
  padding-top: 82px;
  padding-bottom: 105px;
  background-color: $color-light-l;

  @include phones {
    padding: 42px 0;
  }
}

.donate__container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    flex-direction: column;
  }
}

.donate__photo {
  width: 42.1%;
  margin-right: 2.5%;

  @include tablets {
    width: 71.3%;
    margin-right: 0;
  }

  @include phones {
    width: 87%;
  }
}

.donate__content {
  width: 380px;

  @include tablets {
    order: -1;
    margin-bottom: 60px;
  }

  @include phones {
    width: 93.34%;
    margin-bottom: 42px;
  }
}

.donate__subtitle {
  margin-bottom: 20px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  @include phones {
    font-family: Arial;
    line-height: 160%;
    letter-spacing: normal;
    text-align: center;
  }
}

.donate__card {
  margin-bottom: 20px;
}

.donate__info {
  font-size: 12px;
  line-height: 1.5;
  font-style: italic;
  color: $color-dark-m;

  @include phones {
    text-align: justify;
  }
}