.footer {
  min-height: 350px;
  background: url(../../assets/images/noise_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  color: $color-primary;
  height: 1px;
}

.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  padding-top: 56px;
}

.footer__right {
  align-self: flex-end;
}

.footer__row {
  margin-bottom: 34px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__left-col {
  width: 279px;
  margin-right: 160px;
}

.footer__right-col {
  width: 302px;
}