.hamburger-menu-link {
  display: none;
  position: absolute;
  top: 45px;
  right: 53px;
  transition: 1s;

  @include phones {
    display: block;
  }
}

.hamburger-menu-link__icon {
  stroke: $color-primary;
  
  &--dark {
    stroke: $color-dark-3xl;
  }
}

.hamburger-menu-link--hamburger {
  z-index: 10;
  transform: rotate(90deg);

}