.header {
  width: 100%;
  padding: 60px 0;
  margin-bottom: auto;
  
  color: $color-light-l;

  &--thin {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--white {
    background-color: $color-light-xl;
  }

  &--fixed {
    position: fixed;
    top: 0;

    &--static {
      position: static;
    }
  }

  @include tablets {
    padding-top: 30px;
    min-height: 120px;
  }
}

.header__left {
  flex-shrink: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}