.hero {
  display: flex;
  flex-direction: column;
  min-height: 908px;
  background: url(../assets/images/noise_transparent2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  color: $color-dark-s;

  @include phones {
    min-height: 568px;
  }
}

.hero__container {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.hero__right {
  width: 58%;
  align-self: flex-end;

  @include tablets { 
    width: 80.4%;
  }

  @include phones {
    width: 86.67%;
  }
}

.hero__left {
  width: 38.5%;
  margin-right: 3.5%;
  margin-bottom: 80px;

  @include tablets {
    width: 65%;
    margin-right: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include phones {
    width: 100%;
    margin-bottom: 105px;
    align-items: center;
  }
}

.hero__title {
  width: 310px;
  margin-bottom: 42px;

  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  color: $color-light-xl;

  @include phones {
    width: 205px;
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.hero__desc {
  margin-bottom: 42px;

  @include phones {
    text-align: center;
  }
}

.hero__btn {
  @include tablets {
    margin-left: auto;
    margin-right: auto;

  }
}