.nav {
  color: $color-dark-s;

  &--dark {
    color: $color-dark-l;

    & .nav__item:hover {
      color: $color-dark-3xl;
    }
    & .nav__item--disabled:hover {
      color: $color-dark-l;
    }
  }

  @include phones {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    border-bottom: 3px solid $color-primary;
  }

  &:hover {
    cursor: pointer;
    color: $color-light-s;
    transition: .3s;
  }

  &--disabled {
    &:hover {
      cursor: default;
      color: $color-dark-s;
    }
  }
}