.title {
  margin-bottom: 25px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  &--about {
    width: 370px;
  }

  &--pets {
    width: 400px;
    margin-bottom: 60px;
    text-align: center;
  }

  &--help {
    width: 308px;
    margin-bottom: 60px;
    text-align: center;
  }
}