.title {
  margin-bottom: 25px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  &--about {
    width: 370px;

    @include phones {
      width: 225px;
    }
  }

  &--pets {
    width: 400px;
    margin-bottom: 60px;
    text-align: center;
  }

  &--help {
    width: 310px;
    margin-bottom: 60px;
    text-align: center;
  }

  &--donate {
    width: 300px;
    margin-bottom: 20px;
  }

  &--footer {
    margin-bottom: 0;
    color: $color-light-xl;
  }

  @include phones {
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}